*{
    margin: 0%;
    padding: 0%;
}
.nave{
    display: flex;
}
ul{
    display: flex;
    gap: 50px;
    margin-left: 100px;
  
}
ul li a{
    text-decoration: none;
    font-size: 20px;
}
button{
    margin-left:600px;
}