* {
    margin: 0%;
    padding: 0%;
}

.nave {
    display: flex;
    background: #000;
    align-items: center;
    height: 90px;
    width: auto;
    gap: 500px;
}
.nave img{
    margin-left: 80px;
    height: 30px;

}

.nave ul {
    display: flex;
    text-decoration: none;
    gap: 60px;
}

.nave ul li a {
    text-decoration: none;
    color: white;

}

.nave button {
    height: 40px;
    width: 150px;
    border-radius: 12px;
    background: #9e0874;
    font-size: medium;
    margin-right: 80px;
    padding-bottom: 10px;
}
.nave ul li:nth-child(2) {
    color: white;
    font-size: 40px;
}
.a{
    margin-top: 15px;

}
#A {
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-bottom:15px;
}
.arrow{
    font-size: 18px;
    margin-top: -2px;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(./assets/bg.png);
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
}

.main p:nth-child(1) {
    font-size: 90px;
    margin-top: 120px;
}
.main p:nth-child(2) {
    font-size: 95px;
}

.main p:nth-child(3) {
    font-size: 30px;
}
button{
    height: 50px;
    width:300px;
    border-radius: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    background: #9e0874;
    margin-top: 20px;
}
