*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    background-color: #f8fdfe;
    margin: auto; /* Auto */
    overflow: hidden;
}

nav{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
}
nav ul li:first-child{
    color: green;
}

/* Hero Section */
 main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}



main .leftsection {
    width: 65%;
}

main .rightsection{
    width: 35%;
}

.leftsection{
    margin-left: 5%;
    position: relative;
}

.topangle{
    width: 25px;
}

.leftsection h1{
    font-size: 80px;
    max-width: 700px;
}

.leftsection p {
    color: #808080;
    max-width:700px;
    font-size:23px;
    margin: 20px 0;
}

.bottomangle{
    width: 25px;
    position: absolute;
    right: 200px;
}

.stethoscope{
    position: absolute;
    width: 45%;
    height: 90%;
    top: 80px;
    right: 530px;;
    bottom: 20px;
    z-index: -1;
}
.mouse{
    position: absolute;
    /* right: -30px; */
    /* bottom :0; */
    bottom: 50px;
    width: 30px;
    right: 700px;
}

.leftsection button{
    color: white;
    background-color: green;
    /* padding: 15px 40px; */
    padding: 5px;
    border: none;
    border-radius: 40px;
    font-size: 25px;
    width: 250px;
}

 /* Right Side  */

.greenbox,  .yellowbox{
    position: absolute;
    right: 0;
}
.greenbox{
    width: 35%;
    bottom: 30px;
}
.yellowbox{
    width: 30%;
    bottom: 70px;
}
.doctor{
    position: absolute;
    /* right: 40px; */
    /* bottom: 0; */
    bottom: -5px;
    height: 90%; 
} 
