* {
    padding: 0;
    margin: 0%;
    /* box-sizing: border-box;
    overflow: hidden; */
}
body{
    background: #232222;
}
.firstpage {
    height: 100vh;
    width: 100%;
    
}

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    z-index: 100;
    width: 100%;
    top:1px;
    background: #363434;
    background: top;
}

nav ul {
    display: flex;
    gap: 100px;
    position: relative;
    /* top: 50px; */
    font-weight: 500;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav img {
    /* margin-top: 25px; */
    height: 70px;
    width: 80px;
}

main{
    display: flex;
    margin-left: 100px;
    /* margin-right: 100px; */
    margin-top: 100px;
    margin-bottom: 100px;
}
.textsection {
    color: white;

}
.textsection h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
}
.textsection p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 550px;
    margin-top: 20px;
}
.textsection button{
    color: white;
    background:transparent;
    border: none;
    margin-top: 50px;
    font-size: 20px;
}
.textsection button::after{
    content:' →';
}
.cardsection :nth-child(1){
    position: absolute;
    height: 500px;
    top:100px;
    right: 10px;
    z-index: 1;
}
.cardsection :nth-child(2){
    position: absolute;
    height: 500px;
    top: 150px;
    right:-150px;

    z-index: 2;

}
.activety ul{
    display: flex;
   gap: 40px;
   margin-top: 50px
}
.activety ul :nth-child(2){
    margin-top:-30px;
}
.activety ul :nth-child(1){
    font-size: 40px;
}
.activety ul li span p{
    max-width:5px;
}

/* ---------------secound page ---------------------  */
.secoudpage{
    height: 100vh;
    width: 100%;
    
}
.logoes ul{
    display: flex;
    justify-content:center;
    gap: 60px;
    list-style: none;
    background: #555353;
}

.logoes ul li img{
    height: 40px;
    width: 100px;
}
.textsectionsecoundpage{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 50px;
} 
.textsectionsecoundpage h1{
    color: aliceblue;
    font-weight: 500;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    max-width: 900px;
}
.textsectionsecoundpage h1 B{
    color: #770773;
}
.textsectionsecoundpage p{
    color: white;
    font-size: 25px;
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif ;
    margin-top: 100px;
}

.box-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 40px;

}
#leftrightbox{
    margin-top: 40px;
}
.service-box {
  width: 350px;
  height: 300px;
  padding: 50px 20px;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3); 
}


.service-box.active-box {
  background-color: rgba(255, 255, 255, 0.1); 
  border: 2px solid rgba(255, 255, 255, 0.8); 
}


.icon-circle {
  width: 60px;
  height: 60px;
  color: #121212;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto; 
  font-size: 24px;
}
.service-box p{
    margin-top: 100px;
    font-size:38px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.service-box img{
    padding-top: 40px;
}
.thirdpage{
    background: white;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.thirdpage h5{
    text-align: center;
    font-size: 80px;
    max-width: 900px;
   font-family: Arial, Helvetica, sans-serif;
   margin-left: 250px;
   margin-top: 100px;
}
.thirdpage p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 700px;
    margin-top: 50px;
    
}
.thirdpage h5 b{
    color: #c251be;
}
#vcard{
    height: 800px;
    position:relative ;
    align-items: center;
    margin-left: 300px;
    margin-top: -30px;
    
}
.fourthpage{
    color: white;
}
.fourthpage h4{
    font-size:80px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1100px;
    margin-top: 100px;
}
.fourthpage h4 b{
    color: #c251be;
}
.fourthpage p{
    font-size:25px;
    max-width: 650px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.feedback {
    border: 4px solid white;
    padding: 20px;
    border-radius: 10px;
}
.feedbacksection {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
    padding: 20px; 
}