.nav{
    display: flex;
    gap: 20px;
}
.nav ul{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
.nav ul img{
    height: 30px;
    width: auto;
}
.main{
position: absolute;
}
.images{
    float: right;
    height:auto;
    position:absolute;
    margin-left: 600px;
    margin-top: -100px;
}