* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #282323;
}

#page{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.navebar {
    display: flex;
    position: relative;
    justify-content: space-between;
   
    color: white;
}

.navebar img {
    margin: 0%;
    padding: 0%;
    height: 25px;
    width: 70px;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap:40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
    color: white;
    display: flex;
    gap: 50px;
    margin-top: 70px;
}
h1{
 font-size: 60px;
 width: 50%;
 font-weight: 800;
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 line-height: 1.2;
}
.main p {
   max-width: 340px;
   /* font-size: 15px; */
   line-height: 1.5;
   font-weight: 500;
   margin-top: 20px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#image{
    margin-top: 50px;
    width: 100%;
    height:400px;
    object-fit: cover;
    border-radius: 5px;
}
button{
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: 2px solid yellow ;
    background:  #282323;
    color: yellow;
    border-radius: 10px;

}
button:hover{
    transition: 2s ease;
    background: rgb(89, 89, 188);
}
